@model Expence_Managment_Core_WebApplication.Models.Users

<h2>User Details</h2>
<table class="table table-bordered">
    <tr>
        <th>User ID</th>
        <td>@Model.UserID</td>
    </tr>
    <tr>
        <th>User Name</th>
        <td>@Model.UserName</td>
    </tr>
    <tr>
        <th>Email</th>
        <td>@Model.Email</td>
    </tr>
    <tr>
        <th>Created At</th>
        <td>@Model.CreatedAt</td>
    </tr>
</table>